@import "vars"
@import "fonts/roboto"
@import "paper/paper"
@import "iron/iron"

*
    margin: 0px
    padding: 0px
    outline: none
    font-family: 'Roboto', sans-serif


.container
    font-family: 'Roboto', sans-serif